@import url(bootstrap.css);
.header-theme {
  color: #000; }
  .header-theme h2 {
    font-size: 48px;
    color: #808080; }
  .header-theme a {
    background: none;
    border: 1px solid #000;
    color: #000;
    padding: 8px 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 16px;
    color: #000; }
    .header-theme a:hover {
      text-decoration: none;
      color: #fff;
      background: black; }

.header-theme-white {
  color: #fff; }
  .header-theme-white h2 {
    font-size: 48px; }
  .header-theme-white a {
    background: #fff;
    border: 1px solid none;
    color: #000;
    padding: 8px 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 16px; }
    .header-theme-white a:hover {
      text-decoration: none;
      color: #fff;
      background: black; }

.logo-strip-theme {
  background-color: #29abe2; }
  .logo-strip-theme h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 32px;
    color: #fff; }
  .logo-strip-theme a img {
    border-radius: 10px; }

.threeup-theme h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px;
  color: #808080; }

.threeup-theme img {
  margin-bottom: 15px;
  border-radius: 10px; }

.threeup-theme a {
  color: #808080;
  margin-bottom: 12px;
  font-size: 24px; }

.large-quote-CTA p:first-child {
  color: #808080;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 40px; }

.large-quote-CTA a {
  background: none;
  border: 1px solid #000;
  color: #000;
  padding: 8px 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 16px; }
  .large-quote-CTA a:hover {
    text-decoration: none;
    color: #fff;
    background: black; }

.heading-underline h4 {
  display: inline-block;
  position: relative;
  font-weight: bold;
  padding-bottom: 60px;
  font-size: 24px;
  color: #808080; }
  .heading-underline h4::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #e6e6e6;
    bottom: 30px;
    left: calc(50% - 50px); }

.heading-underline img {
  border-radius: 10px; }

.small-quote-CTA {
  color: #fff; }
  .small-quote-CTA a {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 16px; }
    .small-quote-CTA a:hover {
      text-decoration: none;
      color: #fff;
      background: black; }
    .small-quote-CTA a:hover {
      background-color: #fff;
      color: #000; }

.card-theme h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px;
  color: #808080; }

.card-theme .mura-grid-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .card-theme .mura-grid-four .mura-collection-item {
    margin-bottom: 40px;
    padding-right: 40px; }
    .card-theme .mura-grid-four .mura-collection-item__holder {
      background-color: #f2f2f2;
      padding: 22px;
      -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding-bottom: 40px;
      position: relative;
      height: 100%; }
      .card-theme .mura-grid-four .mura-collection-item__holder .mura-item-meta__title a {
        font-size: 24px;
        color: #808080; }
      .card-theme .mura-grid-four .mura-collection-item__holder .mura-item-meta__summary p a {
        color: #29abe2;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0; }
      .card-theme .mura-grid-four .mura-collection-item__holder .mura-item-meta__summary p:last-child {
        margin-bottom: 0; }

.join-our-team-theme {
  color: #fff; }
  .join-our-team-theme h3 {
    font-size: 32px;
    color: #fff;
    padding-bottom: 60px;
    position: relative; }
    .join-our-team-theme h3::after {
      content: " ";
      position: absolute;
      height: 2px;
      width: 100px;
      background-color: #e6e6e6;
      bottom: 30px;
      left: calc(50% - 50px); }
  .join-our-team-theme p {
    margin-bottom: 30px; }
  .join-our-team-theme a {
    background: #fff;
    border: 1px solid none;
    color: #000;
    padding: 8px 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 16px; }
    .join-our-team-theme a:hover {
      text-decoration: none;
      color: #fff;
      background: black; }

.testimonial-theme p em {
  font-size: 24px; }

.from-our-blog-theme h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px;
  color: #808080; }

.from-our-blog-theme .mura-collection .mura-collection-item {
  padding: 15px; }
  .from-our-blog-theme .mura-collection .mura-collection-item__holder {
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2); }
    .from-our-blog-theme .mura-collection .mura-collection-item__holder .mura-item-content a img {
      border-radius: 50%;
      margin-bottom: 22px; }
    .from-our-blog-theme .mura-collection .mura-collection-item__holder .mura-item-meta__title a {
      color: #29abe2; }
    .from-our-blog-theme .mura-collection .mura-collection-item__holder .mura-item-meta__summary p {
      margin-bottom: 0; }

.footer-theme {
  color: #b5b5b5; }
  .footer-theme ul {
    list-style-type: none; }
    .footer-theme ul li a {
      color: #b5b5b5;
      text-decoration: none; }
    .footer-theme ul li:first-child {
      font-weight: bold;
      margin-bottom: 22px; }

body {
  background: #ffffff;
  padding: 1em; }
