@import url(bootstrap.css);
.header-theme {
  color: black; }
  .header-theme h2 {
    font-size: 48px;
    color: #808080; }
  .header-theme a {
    background: none;
    border: 1px solid black;
    padding: 8px 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 16px;
    color: black;
    color: black; }
    .header-theme a:hover {
      text-decoration: none;
      color: #fff;
      background: black; }

.threeup-theme h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 48px;
  color: #808080; }

.threeup-theme img {
  margin-bottom: 15px; }

.threeup-theme h4 {
  color: #808080;
  margin-bottom: 12px; }

.large-quote-CTA p {
  color: #808080;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 40px; }

.large-quote-CTA a {
  background: none;
  border: 1px solid black;
  padding: 8px 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 16px;
  color: black; }
  .large-quote-CTA a:hover {
    text-decoration: none;
    color: #fff;
    background: black; }

body {
  background: #ffffff;
  padding: 1em; }
