@mixin fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-before {	// For icons added immediately before the element targeted
	margin-right: .25em;
	color: $brand-primary;
}

// Module Themes
//$module-padding: 4vw !default;
//$module-mobile-vertical-padding: 8vw;

@mixin module-theme($module-bg-color, $module-bg-text-color) {
    background-color: $module-bg-color;
    //background-image: $module-bg-image;
    color: $module-bg-text-color;
	//padding: $module-padding;
}

.module-brand { @include module-theme($blue, $white); }
.module-light-gray { @include module-theme($light-gray, $black); }
.module-medium-gray { @include module-theme($medium-gray, $black); }
.module-dark-gray { @include module-theme($dark-gray, $white); }
.module-black { @include module-theme($black, $white); }
.module-orange { @include module-theme($orange, $white); }
.module-red { @include module-theme($red, $white); }
.module-azul { @include module-theme($azul, $white); }
.module-sea-foam  { @include module-theme($sea-foam, $white); }
.module-teal { @include module-theme($teal, $white); }
.module-green { @include module-theme($green, $white); }
.module-cranberry { @include module-theme($cranberry, $white); }
.module-goldenrod { @include module-theme($goldenrod, $white); }
.module-violet { @include module-theme($violet, $white); }
.module-purple { @include module-theme($purple, $white); }
.module-blue { @include module-theme($blue, $white); }
.module-white { @include module-theme($white, $black); }

// 7.2 Module Specific Themes
//$module-padding: 4rem !default;

// Site BTN
/*
@mixin site-btn($btn-bg, $btn-border, $btn-color) {
    background: $btn-bg;
    border: 1px solid $btn-border;
    color: $btn-color;
    padding: 8px 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 16px;
    
    &:hover {
        text-decoration: none;
        color: #fff;
        background: black;
    }
}
*/

// Header Theme
/*
@mixin header-theme($theme-heading-font-size, $theme-heading-text-color, $theme-text-color) {
    color: $theme-text-color;
    font-size: 22px;
    font-weight: 200;
    
    h2 {
        font-size: $theme-heading-font-size;
        color: #161c2d;
        
        span {
            color: #335eea;
        }
    }
    
    a {
        @include site-btn(none, #161c2d, #161c2d);
        color: #161c2d;
    }
    
    img {
        border-radius: 15px;
    }
}
.header-theme {
    @include header-theme(48px, #161c2d, #869ab8);
}
*/

// Header Theme - Light Variation
/*
@mixin header-theme-white($theme-heading-white-font-size) {
    color: #fff; 
    font-size: 22px;
    font-weight: 200;
    
    h2 {
        font-size: $theme-heading-white-font-size;
    }
    
    a {
        @include site-btn(#fff, none, #161c2d);
    }
}
.header-theme-white {
    @include header-theme-white(48px);
}
*/

// Logo Strip Theme
/*@mixin logo-strip-theme($bg-color, $logo-strip-heading-size, $logo-strip-heading-color) {
    background-color: $bg-color;
    
    h2 {
        text-transform: capitalize;
        font-weight: 100;
        font-size: $logo-strip-heading-size;
        color: $logo-strip-heading-color;
    }
    
    a {
        
        img {
            border-radius: 10px;
        }
    }
}
.logo-strip-theme {
    @include logo-strip-theme(#29abe2, 32px, #fff);
}*/

// 3-Up Theme
/*@mixin threeup-theme($threeup-heading-size, $threeup-heading-color, $threeup-img, $threeup-h4, $threeup-theme-color) {
    font-size: 22px;
    color: $threeup-theme-color;
    font-weight: 200;
    border-top: 2px solid #f1f4f8;
    

    // .mura-collection-item {
    //     padding: 30px;
    // }

    
    h2 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: $threeup-heading-size;
        color: $threeup-heading-color;
    }
    
    img {
        margin-bottom: $threeup-img;
        //@extend .rounded-lg;
    }
    
    a {
        color: $threeup-h4;
        margin-bottom: 12px; 
        font-size: 24px;
        font-weight: 100;
    }
}
.threeup-theme {
    @include threeup-theme(48px, #161c2d, 15px, #161c2d, #869ab8);
}*/

// Large Quote CTA
/*
@mixin large-quote-CTA($lg-CTA-color, $lg-CTA-font-size, $lg-CTA-font-weight) {
    p:first-child {
        color: $lg-CTA-color;
        font-size: $lg-CTA-font-size;
        font-weight: $lg-CTA-font-weight;
        line-height: 1.5em;
        margin-bottom: 40px;
    }
    
    a {
        @include site-btn(none, #000 ,#000); 
    }
}
.large-quote-CTA {
    @include large-quote-CTA(#869ab8, 24px, 200);
}
*/

// Heading Underline Theme
/*@mixin heading-underline($heading-underline-size, $heading-underline-color) {
    
    h4 {
        display: inline-block;
        position: relative;
        font-weight: bold;
        padding-bottom: 60px;
        font-size: $heading-underline-size;
        color: $heading-underline-color;
        font-weight: 200;
        
        &::after {
            content:" ";
            position: absolute;
            height: 2px;
            width: 100px;
            background-color: #e6e6e6;
            bottom: 30px;
            left: calc(50% - 50px);
        }
    }
    
    p {
        font-size: 18px;
        color: #869ab8;
        font-weight: 200;
    }
    
    img {
        border-radius: 10px;
    }
}
.heading-underline {
    @include heading-underline(24px, #808080);
}*/

//  Quote CTA 
/*
@mixin small-quote-CTA($sm-quote-color) {
    p {
        color: $sm-quote-color;
        font-size: 22px;
        font-weight: 200;
        margin-bottom: 0;
        
        a {
            @include site-btn(transparent, #fff, #fff)
            
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}
.small-quote-CTA {
    @include small-quote-CTA(#869ab8);
}
*/

// Card Theme
/*@mixin card-theme($card-theme-main-heading-size, $card-theme-main-heading-color, $card-theme-bg, $card-theme-heading-size, $card-theme-heading-color) {
    h2 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: $card-theme-main-heading-size;
        color: $card-theme-main-heading-color;
    }
    
    // For a Collection
    .mura-grid-four {
        display: flex;
        flex-wrap: wrap;
        
        .mura-collection-item {
            margin-bottom: 40px;
            padding-right: 40px;
            
            &__holder {
                background-color: #f2f2f2;
                padding: 22px;
                -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                padding-bottom: 40px;
                position: relative;
                height: 100%;
                
                .mura-item-meta {
                    
                    &__title {
                        
                        a {
                            font-size: $card-theme-heading-size;
                            color: $card-theme-heading-color;
                        }
                    }
                    
                    &__summary {
                        
                        p {
                            font-weight: 200;
                            
                            a {
                                color: #29abe2;
                                position: absolute;
                                bottom: 20px;
                                left: 0;
                                right: 0;
                            }
                            
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.card-theme {
    @include card-theme(48px, #808080, #f2f2f2, 24px, #808080);
}*/

// Join Our Team Theme
/*
@mixin join-our-team-theme($join-our-team-heading-size, $join-our-team-heading-color) {
    color: #869ab8;
    
    h3 {
        font-size: $join-our-team-heading-size;
        color: $join-our-team-heading-color;
        padding-bottom: 60px;
        position: relative;
        font-weight: 300;
        
        &::after {
            content:" ";
            position: absolute;
            height: 2px;
            width: 100px;
            background-color: #e6e6e6;
            bottom: 30px;
            left: calc(50% - 50px);
        }
    }
    
    p {
        margin-bottom: 30px; 
        font-size: 22px;
        font-weight: 200;
    }

    a {
        @include site-btn(#fff, none, #000);
    }
}
.join-our-team-theme {
    @include join-our-team-theme(32px, #fff);
}
*/

// Testimonial Theme
/*@mixin testimonial-theme() {
    
    p {
        
        em {
            font-size: 24px;
            font-weight: 100;
        }
    }
}
.testimonial-theme {
    @include testimonial-theme();
}*/

// Hover Links Theme
/*@mixin from-our-blog-theme($from-our-blog-heading-size, $from-our-blog-heading-color) {
    h2 {
        text-transform: capitalize;
        font-size: $from-our-blog-heading-size;
        color: $from-our-blog-heading-color;
        margin-bottom: 33px;
        font-weight: 300;
    }
    
    .mura-collection {
        
        .mura-collection-item {
            //padding: 15px;
            
            &__holder {
                // padding: 30px;
                // background-color: #f2f2f2;
                // border-radius: 10px;
                // box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
            
                // .mura-item-content {
                // 
                //     a {
                //         img {
                //             border-radius: 50%;
                //             margin-bottom: 22px;
                //         }
                //     }
                // }
            
                .mura-item-meta {
            
                    &__title {
            
                        a {
                            color: #335eea;
                            margin-bottom: 12px;
                            font-weight: 200;
                            display: inline-block;
                        }
                    }
            
                    &__summary {
            
                        p {
                            margin-bottom: 0;
                            color: #869ab8;
                            font-size: 18px;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
    }
}
.from-our-blog-theme {
    @include from-our-blog-theme(48px, #161c2d);
}*/


// Accordion Theme
/*@mixin accordion-theme() {
    
    h2 {
        text-transform: capitalize;
        font-size: 48px;
        color: #161c2d;
        margin-bottom: 33px;
        font-weight: 300;
    }
    
    .card-header {
        
        h2 {
            font-size: 22px;
            
            button {
                color: #869ab8;
                font-size: 18px;
            }
        }
    }
    
    .card-body {
        
        a {
            color: #335eea;
            margin-bottom: 12px;
            display: inline-block;
            font-weight: 200;
            
            img {
                border-radius: 6px;
                margin-bottom: 0;
            }
        }
        
        p {
            color: #869ab8;
            font-size: 18px;
            font-weight: 200;
        }
    }
}
.accordion-theme {
    @include accordion-theme();
}*/

// accordion Theme
@mixin footer-theme() {
    color: #b5b5b5;
    padding: 50px 0;
    font-weight: 200;
    
    h2 {
        font-size: 18px;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
        
        li {
            
            a {
                color: #b5b5b5;
                text-decoration: none;
                font-weight: 200;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.footer-theme {
    @include footer-theme();
}