[data-objectspacing="tight"],
[data-objectspacing="loose"],
[data-metaspacing="tight"],
[data-metaspacing="loose"],
[data-contentspacing="tight"],
[data-contentspacing="loose"] {
    padding: 1rem;
}

@media (min-width: 768px) {
    [data-objectspacing="tight"],
    [data-metaspacing="tight"],
    [data-contentspacing="tight"] {
        padding: 1rem;
    }

    [data-objectspacing="loose"],
    [data-metaspacing="loose"],
    [data-contentspacing="loose"] {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    [data-objectspacing="loose"],
    [data-metaspacing="loose"],
    [data-contentspacing="loose"]{
        padding: 3rem;
    }
}
.module-image-grid-block{
    > .mura-object-content{
        column-count: 3;
        column-gap: 1rem;
        [data-object="image"]{
            display:inline-block;
            margin: 0 0 1rem;
            width:100%;
            img{
                @extend .rounded-lg, .shadow;
            }
        }
    }
}
.module-image-grid-grid{
    > .mura-object-content{
        display: grid;
        grid-template-columns: repeat(11, minmax(8.33%, 8.33%));
        grid-gap: 10px;
        grid-auto-rows: minmax(8.33%, 1fr);
        grid-auto-flow: dense;
        padding: 10px;
        [data-object="image"]{
            display:inline-block;
            margin: 0 0 1rem;
            width:100%;
            img{
                @extend .rounded-lg, .shadow;
            }
        }
        .span-2-2 {
            grid-column-end: span 2;
            grid-row-end: span 2;
        }
        .span-2-3 {
            grid-column-end: span 2;
            grid-row-end: span 3;
        }
        .span-2-4 {
            grid-column-end: span 2;
            grid-row-end: span 4;
        }
        .span-3-2{
            grid-column-end: span 3;
            grid-row-end: span 2;
        }
        .span-3-4{
            grid-column-end: span 3;
            grid-row-end: span 4;
        }
        .span-3-3{
            grid-column-end: span 3;
            grid-row-end: span 3;
        }
        .span-4-3 {
            grid-column-end: span 4;
            grid-row-end: span 3;
        }
        .span-4-4 {
            grid-column-end: span 4;
            grid-row-end: span 4;
        }
        .span-4-5 {
            grid-column-end: span 4;
            grid-row-end: span 5;
        }
        .span-4-6 {
            grid-column-end: span 4;
            grid-row-end: span 6;
        }
        .span-5-3 {
            grid-column-end: span 5;
            grid-row-end: span 3;
        }
        .span-5-4 {
            grid-column-end: span 5;
            grid-row-end: span 4;
        }
        .span-5-5 {
            grid-column-end: span 5;
            grid-row-end: span 5;
        }
        .span-5-6 {
            grid-column-end: span 5;
            grid-row-end: span 6;
        }
    }
}