[data-objectspacing="tight"],
[data-metaspacing="tight"],
[data-contentspacing="tight"]{
    padding: 1rem;
}
[data-objectspacing="normal"],
[data-metaspacing="normal"],
[data-contentspacing="normal"]{
    padding: 2rem 1rem;
}
[data-objectspacing="loose"],
[data-metaspacing="loose"],
[data-contentspacing="loose"] {
    padding: 3rem 1rem;
}

@media (min-width: 768px) {
    [data-objectspacing="tight"],
    [data-metaspacing="tight"],
    [data-contentspacing="tight"] {
        padding: 1rem;
    }

    [data-objectspacing="normal"],
    [data-metaspacing="normal"],
    [data-contentspacing="normal"] {
        padding: 2rem;
    }

    [data-objectspacing="loose"],
    [data-metaspacing="loose"],
    [data-contentspacing="loose"] {
        padding: 3rem;
    }
}

@media (min-width: 992px) {
    [data-objectspacing="normal"],
    [data-metaspacing="normal"],
    [data-contentspacing="normal"]{
        padding: 2.5rem;
    }
    
    [data-objectspacing="loose"],
    [data-metaspacing="loose"],
    [data-contentspacing="loose"]{
        padding: 5rem;
    }
}

//nested layout items
@media(max-width:767px){
    .mura-object .mura-object:not([data-objectname="Form"]){
        padding-left:0;
        padding-right:0;
        padding-bottom:0;
        padding-top:0;
        & + .mura-object{
            padding-top:0.5rem;
        }
    }
}

//image grid module theme
.module-image-grid{
    > .mura-object-content{
        display: flex !important;//force flex
        flex-flow: row wrap;
        width: 100%;
        [data-object="image"]{
            flex: auto !important;
            height: 250px !important;
            min-width: 150px !important;
            margin: .5rem !important; //gutter
            overflow:hidden;
            @extend .rounded-lg, .shadow;
            figure{
                height:250px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    max-width: 100%;
                }
            }
        }
        [data-object="image"]:nth-child(4n+1) {
            width: 250px !important;
        }
        [data-object="image"]:nth-child(4n+2) {
            width: 325px !important;
        }
        [data-object="image"]:nth-child(4n+3) {
            width: 180px !important;
        }
        [data-object="image"]:nth-child(4n+4) {
            width: 380px !important;
        }
    }
}

.module-big-header{
    height:460px;
}