[data-object="header"]{
    background:#00B7E3;
    padding:5rem 0;
    
    header{
        h1,h2,h3,h4,h5,h6,p{
            text-align:left;
            color:#fff;
        }        
    }
    .list-inline{
        .release-date, .credits{
            @extend .text-white;
        }
    }
    .breadcrumb{
        @extend .mb-1;
        .breadcrumb-item{
            @extend .small;
            a{
                @extend .text-white;
            }
            & + .breadcrumb-item{
                &:before{
                    color:rgba(255,255,255,.5);
                }
            }
        }
    }
    .tag{
        @extend .badge, .text-white;
        background:rgba(255,255,255,.3);
    }
    .comments, .credits, .rating, .release-date{
        @extend .small;
        float: none;
    }
}