.accordion{
    a{
        &:hover{
            background: rgba(0,0,0,.05);
            text-decoration: none;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
        }
    }
}